.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  padding-top: 100px;
}



.destaque{
  text-decoration: underline;
  color: #A5CAFF;
}

.slogan h1 {
  line-height: 1.1;
  font-family: chivo;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  margin: 0;
}

.slogan p {
  font-family: DM Sans;
  font-size: 23px;
  text-align: left;
  margin-top: 20px;
}

.logo {
  height: 350px;
  width: auto;
}

.callToAction {
  margin-top: 30px;
}


.header {
  padding-left: 2%;
  gap: 30px;
  background-color: white;
  color: white;
  align-items: center;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row
 
}

.buttonsHeader{
  display: flex;
  gap: 10px;
}

.criarConta{
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-right: 2%;
}


.features {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;
}

.feature-card {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 100%;
  text-align: center;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
}
